.update {
    flex: 6;
}

.updateWrapper {
    padding: 20px;
}

.delete {
    border: none;
    padding: 5px;
    font-size: 12px;
    background-color: rgb(243, 129, 152);
    color: white;
    font-weight: 500;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
} 

.updateTitle {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 400;
  }